<div class="project-modal">
	<app-header class="modal-header"></app-header>
	<div class="container">
		<div class="project-modal-breadcrumbs">
			<button class="project-modal-back" (click)="closeModal()">
				<img src="img/icons/projects/arrow-back.png">
				{{ 'projects.back'|translate }}
			</button>
		</div>
		<div class="project-modal-content">
			<div class="project-modal-info">
				<h2>{{ project().name }}</h2>
				<div class="project-modal-description">
					<h3>{{ 'projects.description'|translate }}</h3>
					@if (selectedLang() === 'en') {
						<p>{{ project().description.en }}</p>
					} @else {
						<p>{{ project().description.de }}</p>
					}
				</div>
				<div class="project-modal-details">
					<h3>{{ 'projects.implementation'|translate }}</h3>
					@if (selectedLang() === 'en') {
						<p>{{ project().details.en }}</p>
					} @else {
						<p>{{ project().details.de }}</p>
					}
				</div>
				<div class="project-modal-duration">
					<h4>{{ 'projects.duration'|translate }}</h4>
					@if (selectedLang() === 'en') {
						<p>{{ project().duration.en }}</p>
					} @else {
						<p>{{ project().duration.de }}</p>
					}
				</div>
				<div class="project-modal-skills">
					@for (skill of project().skills; track skill.name) {
						<div class="project-modal-skill">
							<img src="{{ skill.img }}">
							<span>{{ skill.name }}</span>
						</div>
					}
				</div>
			</div>
			<div class="project-modal-demo">
				<img src="{{ project().detailImg }}">
				@if (project().id === 0) {
					<img src="img/projects/round-sticker.png" class="sticker">
				} @else {
					<div class="sticker blank">
						<svg class="circular-text" viewBox="0 0 200 200" width="200" height="200">
							<defs>
								<path id="circle" d="M 100, 100 m -82, 0 a 82,82 0 1,1 164,0 a 82,82 0 1,1 -164,0"></path>
							</defs>
							<text font-family="Arial" font-size="8" font-weight="bold" fill="currentColor">
								<textPath href="#circle" startOffset="0%">
									{{ 'projects.name'|translate }} • {{ 'projects.developer'|translate }} • {{ 'projects.name'|translate }} • {{ 'projects.developer'|translate }} • 
								</textPath>
							</text>
						</svg>
						<img src="img/logo/logo.PNG" class="center-logo">
					</div>
				}
				<div class="project-modal-links">
					<button class="main-btn border-white hover--secondary btn-shadow-white">
						<a href="{{ project().github }}">{{ 'projects.github'|translate }}</a>
					</button>
					<button class="main-btn border-white hover--secondary btn-shadow-white">
						<a href="{{ project().live }}">{{ 'projects.live'|translate }}</a>
					</button>
				</div>
			</div>
		</div>
		<div class="project-modal-switch">
			<button class="project-modal-next" (click)="nextProject()">
				{{ 'projects.next'|translate }}
				<img src="img/icons/projects/arrow-next.png">
			</button>
		</div>
	</div>
</div>
