@use '../../../../mixins.scss';
@use '../../../../vars.scss';

.header {
	position: absolute;
	top: 0;
	left: 0;
	background: transparent;
	width: 100%;
	padding: 20px 0;
	&-row {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&-logo {
		height: 50px;
		object-fit: contain;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		width: 100%;
		@media (max-width: 767px) {
			display: none;
		}
		> * {
			color: vars.$white;
			text-decoration: none;
			position: relative;
		}
	}
	.desktop-lang {
		@media (max-width: 767px) {
			display: none;
		}
	}
	.mobile-menu,
	.mobile-btn {
		@media (min-width: 768px) {
			display: none;
		}
	}
	.mobile {
		&-btn {
			background: transparent;
			border: 0;
			cursor: pointer;
			background-image: url('../../../../../public/img/icons/menu.png');
			@include mixins.headerButtonActive();
			&::before {
				background-image: url('../../../../../public/img/icons/header-x.png');
			}
			&:active {
				background-image: url('../../../../../public/img/icons/menu-active.png');
			}
		}
		&-menu {
			position: absolute;
			top: 0;
			left: 0;
			background-image: url('../../../../../public/img/hero/01_Hero.png');
			@include mixins.backgroundImageProperties();
			z-index: 1;
			height: 70vh;
			width: 100%;
			transform: translateY(-110%);
			transition: all 0.5s ease;
			padding: 20px;
			&.open {
				transform: translateY(0%);
			}
		}
		&-head {
			@include mixins.flexBox($jc: space-between, $ai: center);
			.close-btn {
				width: 32px;
				height: 32px;
				cursor: pointer;
				background: transparent;
				border: 0;
				background-image: url('../../../../../public/img/icons/close.png');
				@include mixins.headerButtonActive();
				&::before {
					background-image: url('../../../../../public/img/icons/header-active.png');
				}
				&:active {
					background-image: url('../../../../../public/img/icons/close-active.png');
				}
			}
		}
		&-nav {
			padding: 100px 0 20px;
			@include mixins.flexBox($fd: column, $g: 50px);
			> * {
				position: relative;
				color: vars.$white;
				text-decoration: none;
				font-size: 1.5rem;
			}
		}
	}
}
.hover-icon- {
	&circle,
	&line,
	&wave,
	&swoosh {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
	}
	&circle {
		background-image: url('../../../../../public/img/icons/hover-deco/circle.png');
		width: 130%;
		height: 200%;
		top: -11px;
		left: -12px;
		@include mixins.hoverDisplay(50%, 100%, 0deg, 50%, 0%);
	}
	&line {
		background-image: url('../../../../../public/img/icons/hover-deco/line.png');
		background-size: cover;
		bottom: -(vars.$spacing-sm);
		top: unset;
		width: 200%;
		height: 200%;
		left: -20px;
		@include mixins.hoverDisplay(100%, 100%, 270deg, 0%, 0%);
	}
	&wave {
		background-image: url('../../../../../public/img/icons/hover-deco/wave.png');
		background-size: cover;
		left: -20px;
		width: 150%;
		height: 200%;
		transform: translateY(-25%);
		@include mixins.hoverDisplay(100%, 100%, 270deg, 0%, 0%);
	}
	&swoosh {
		background-image: url('../../../../../public/img/icons/hover-deco/swoosh.png');
		background-size: cover;
		width: 120%;
		height: 200%;
		left: -5px;
		top: -(vars.$spacing-sm);
		@include mixins.hoverDisplay(100%, 100%, 270deg, 0%, 0%);
	}
}

.socials {
	padding-top: 20px;
	@include mixins.flexBox($jc: center, $ai: center, $g: 20px);
	a {
		@include mixins.socials();
		@include mixins.flexBox($jc: center, $ai: center);
	}
}

:host(.modal-header) {
	width: 100%;
	.header {
		position: unset;
	}
	.logo {
		filter: brightness(0);
	}
	@media (max-width: 767px) {
		.mobile-btn {
			img {
				filter: brightness(0);
			}
		}
	}
	nav {
		a {
			&:first-of-type,
			&:nth-of-type(2) {
				color: black;
			}
		}
	}
}
