<header class="header">
	<div class="container">
		<div class="header-row">
			<app-svg-icon name="logo/logo-filled" [size]="50" cssClass="header-logo logo"></app-svg-icon>
			<nav>
				<a href="#about-me">
					{{ 'header.about-me' | translate }}
					<div class="hover-icon-circle"></div>
				</a>
				<a href="#skills">
					{{ 'header.skills' | translate }}
					<div class="hover-icon-line"></div>
				</a>
				<a href="#projects">
					{{ 'header.projects' | translate }}
					<div class="hover-icon-wave"></div>
				</a>
				<a href="#contact">
					{{ 'header.contact' | translate }}
					<div class="hover-icon-swoosh"></div>
				</a>
			</nav>
			<app-lang-toggle class="desktop-lang"></app-lang-toggle>
			<button class="mobile-btn" (click)="toggleMobileMenu()"></button>
			<div class="mobile-menu" [class.open]="isMobileMenuOpen()">
				<div class="mobile-head">
					<app-svg-icon name="logo/logo-filled" [size]="50" cssClass="header-logo logo"></app-svg-icon>
					<button class="close-btn" (click)="closeMobileMenu()"></button>
				</div>
				<div class="mobile-nav">
					<a href="#about-me">
						{{ 'header.about-me' | translate }}
						<div class="hover-icon-circle"></div>
					</a>
					<a href="#skills">
						{{ 'header.skills' | translate }}
						<div class="hover-icon-line"></div>
					</a>
					<a href="#projects">
						{{ 'header.projects' | translate }}
						<div class="hover-icon-wave"></div>
					</a>
					<a href="#contact">
						{{ 'header.contact' | translate }}
						<div class="hover-icon-swoosh"></div>
					</a>
					<app-lang-toggle></app-lang-toggle>
				</div>
				<div class="socials">
					<a target="_blank" href="https://de.linkedin.com/in/kersten-daniel"><img src="img/icons/socials/linked-in.svg" alt="LinkedIn Icon"></a>
					<a target="_blank" href="https://github.com/DanielDev777"><img src="img/icons/socials/github.svg" alt="Github Icon"></a>
					<a target="_blank" href="mailto:daniel@dev-kersten.de"><img src="img/icons/socials/mail.svg" alt="Mail Icon"></a>
				</div>
			</div>
		</div>
	</div>
</header>
