<section>
	<div class="container">
		<div class="projects">
			<div class="intro">
				<p>{{ 'projects.subline' |translate}}</p>
				<h2>{{ 'projects.headline' |translate}}</h2>
				<p>{{ 'projects.info' |translate}}</p>
			</div>
			@for (singleproject of projects; track singleproject.id; let i = $index) {
				<div class="project" [class.featured]="$first">
					<div class="project-img-container">
						<img src="{{ singleproject.img }}" class="project-img">
					@if ($first) {
						<div class="sticker"></div>
					}
						<button (click)="showModal(singleproject)" value="{{ singleproject.id }}" class="main-btn border-white hover--secondary btn-shadow-white">{{ 'projects.details' |translate}}</button>
					</div>
					<h3>{{ singleproject.name }}</h3>
					<p>{{ singleproject.description }}</p>
					<button (click)="showModal(singleproject)" value="{{ singleproject.id }}" class="main-btn border-black hover--secondary btn-shadow-black show-tablet">{{ 'projects.details' |translate}}</button>
				</div>
			}
			@if (isModalVisible() && selectedProject()) {
				<app-single-project (close)="hideModal()" (projectChanged)="changeProject($event)" [project]="selectedProject()!"></app-single-project>
			}
		</div>
	</div>
</section>