@use '../../../../mixins.scss';
@use '../../../../vars.scss';

form {
	@include mixins.flexBox($fd: column, $ai: flex-start);
	@media (min-width: 992px) {
		padding: 0 vars.$spacing-md;
	}
	* {
		color: #fff;
	}
	.form-group {
		padding: vars.$spacing-md;
		width: 100%;
		&:not(.legal) {
			&:first-of-type {
				border-top: 1px solid transparent;
				&:hover {
					border-color: vars.$highlight-secondary;
				}
			}
			&:hover {
				border-bottom-color: vars.$highlight-secondary;
			}
			&:has(+ .form-group:not(.legal):hover) {
				border-bottom-color: vars.$highlight-secondary;
			}
			@include mixins.flexBox($fd: column, $ai: flex-start, $g: vars.$spacing-sm);
			border-bottom: 1px solid vars.$highlight-primary;
			label {
				font-size: 1.3rem;
				font-weight: 600;
				width: 100%;
			}
			input,
			textarea {
				width: 100%;
				background-color: transparent;
				border: 0;
				&::placeholder {
					color: #fff;
				}
				&:focus-visible {
					outline: none;
				}
			}
			span {
				color: red;
			}
		}
		&.legal {
			@include mixins.flexBox($ai: center, $jc: space-between, $g: vars.$spacing-sm);
			margin-bottom: vars.$spacing-mdg;
			padding: vars.$spacing-md 0;
			@media (max-width: 991px) {
				margin-top: 40px;
			}
			label {
				flex: 0 0 calc(100% - 50px);
				max-width: calc(100% - 50px);
				font-weight: 300;
			}
			input {
				appearance: none;
				position: relative;
				width: 24px;
				height: 24px;
				flex: 0 0 24px;
				border-radius: 3px;
				z-index: 1;
				cursor: pointer;
				&:hover {
					background-color: rgba($color: vars.$highlight-secondary, $alpha: .4);
				}
				&:checked {
					&::after {
						background-image: url(../../../../../public/img/contact/Check.png);
						@include mixins.backgroundImageProperties($bs: contain);
					}
				}
				&::before {
					content: "";
					position: absolute;
					top: 3px;
					left: 3px;
					width: 14px;
					height: 14px;
					border: 2px solid vars.$highlight-secondary;
					border-radius: 3px;
					z-index: 0;
				}
				&::after {
					content: "";
					position: absolute;
					top: 3px;
					left: 4px;
					width: 17px;
					height: 17px;
					z-index: 2;
				}
			}
		}
	}
	button {
		align-self: flex-end;
		margin-right: vars.$spacing-md;
		padding: 12px vars.$spacing-lg;
		transition: all .2s ease-in;
		&[disabled] {
			opacity: .5;
			pointer-events: none;
		}
		@media (max-width: 575px) {
			padding: 12px vars.$spacing-mdg;
			margin-right: vars.$spacing-sm;
		}
	}
}

.sticker-container {
	width: 100%;
	display: none;
	@media (min-width: 992px) {
		@include mixins.flexBox($ai: flex-end, $jc: flex-end);
		padding: 0 vars.$spacing-md;
	}
	.sticker {
		background-image: url('../../../../../public/img/contact/form-sticker.png');
		@include mixins.backgroundImageProperties($bs: contain);
		@include mixins.flexBox();
		width: 170px;
		position: relative;
		height: 170px;
		transform: translateY(40px) rotate(15deg);
		.circular-text {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			text {
				fill: vars.$black;
				font-family: 'Arial', sans-serif;
				font-weight: bold;
				textPath {
					font-size: 14px;
				}
			}
		}
		
		.center-logo {
			width: 55px;
			height: 55px;
			object-fit: contain;
			filter: brightness(0);
			z-index: 1;
			position: relative;
		}
	}
}