@use '../../../vars.scss';
@use '../../../mixins.scss';

section {
	background-image: vars.$hero-bg;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 160px 0 80px;
	height: 100vh;
	.hero {
		height: 100%;
		max-width: 900px;
		margin: 0 auto;
		position: relative;
		@include mixins.flexBox($fd:column, $jc: center, $ai: unset);
		&-polaroid {
			background-color: vars.$white;
			padding: 16px;
			position: absolute;
			top: 10%;
			right: 5%;
			width: fit-content;
			transform: rotate(10deg);
			@include mixins.flexBox($fd:column, $jc: center, $ai: center);
			@media (max-width: 767px) {
				top: 5%;
			}
			@media (max-width: 575px) {
				position: unset;
				align-self: center;
				margin-top: 20px;
			}
			&:hover {
				img {
					filter: grayscale(0);
				}
				.smiley {
					display: none;
					&-hover {
						display: inline;
					}
				} 
			}
			img {
				width: 150px;
				height: 150px;
				filter: grayscale(1);
				margin-bottom: 20px;
				transition: all .2s ease;
			}
			span {
				font-family: 'Kalam', sans-serif;
				line-height: 1;
			}
			.smiley {
				&-hover {
					display: none;
				}
			}
		}
		&-frontend,
		&-backend {
			width: fit-content;
			font-size: inherit;
			span {
				font-size: inherit;
			}
		}
		&-frontend {
			align-self: flex-start;
		}
		&-backend {
			align-self: flex-end;
			@media (max-width: 575px) {
				align-self: flex-start;
			}
		}
		&-lowercase {
			@include mixins.heroLetterChange(lowercase, uppercase);
		}
		&-uppercase {
			@include mixins.heroLetterChange(uppercase, lowercase);
		}
		&-hello {
			opacity: 1;
			&-btn {
				transition: all .5s ease;
				width: 135px;
				height: 50px;
				white-space: nowrap;
				@include mixins.hoverDisplayWithChild(100%, 100%, 270deg, 0%, 0%, $type: 'hello-btn');
				&:hover {
					width: 190px;
					&.de-hello {
						width: 230px;
					}
					span:first-of-type {
						opacity: 0;
						display: none;
					}
					span:last-of-type {
						opacity: 1;
					}
				}
			}
			&-hover {
				position: absolute;
				top: 50%;
				left: 20px;
				opacity: 0;
				transform: translateY(-50%);
				display: inline;
			}
		}
		.contact-btn {
			align-self: flex-end;
			@include mixins.boxShadowButton(vars.$white);
		}
	}
	.container {
		height: 100%;
		position: relative;
		.socials {
			@include mixins.flexBox($fd:column, $jc: center, $ai: center, $g: vars.$spacing-sm);
			position: absolute;
			bottom: 0;
			left: 0;
			margin-left: vars.$spacing-md;
			@media (max-width: 767px) {
				display: none;
			}
			a {
				@include mixins.flexBox($jc: center, $ai: center);
				@include mixins.socials();
			}
		}
	}
	h1 {
		display: flex;
		flex-direction: column;
	}
}