.lang-toggle {
	display: flex;
	align-items: center;
	gap: 10px;
	.lang-btn {
		background: none;
		border: none;
		color: #fff;
		cursor: pointer;
		transition: color 0.3s;
		position: relative;
		&.active {
			color: var(--highlight-tertiary);
		}
		.hover-icon-en,
		.hover-icon-de {
			position: absolute;
			top: -7px;
			left: -3px;
			width: 40px;
			height: 40px;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			opacity: 0;
			transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
			mask-size: 200% 200%;
		}
		.hover-icon-en {
			mask-image: linear-gradient(135deg, transparent 0%, transparent 50%, white 50%, white 100%);
			background-image: url('/img/icons/hover-deco/border_bottom_right.svg');
			mask-position: 0% 0%;
		}
		.hover-icon-de {
			background-image: url('/img/icons/hover-deco/border_upper_left.svg');
			mask-image: linear-gradient(-45deg, transparent 0%, transparent 50%, white 50%, white 100%);
			mask-position: 100% 100%;
		}
		
		&:not(.active):hover {
			.hover-icon-en {
				opacity: 1;
				mask-position: 100% 100%;
			}
			.hover-icon-de {
				opacity: 1;
				mask-position: 0% 0%;
			}
		}
	}
	.toggle {
		position: relative;
		width: 45px;
		height: 20px;
		background: var(--highlight-tertiary);
		border-radius: 34px;
		transition: background 0.3s;
		height: 10px;
		border: 2px solid #fff;
		.knob {
			position: absolute;
			top: 50%;
			left: -3px;
			width: 16px;
			height: 16px;
			background: var(--highlight-secondary);
			border: 2px solid #fff;
			border-radius: 50%;
			transition: transform 0.3s ease;
			transform: translateY(-50%);
		}
		&.de {
			.knob {
				transform: translateY(-50%) translateX(30px);
			}
		}
	}
}
