@use '../../../../mixins.scss';
@use '../../../../vars.scss';

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	* {
		color: #fff;
		font-weight: 600;
	}
}

app-svg-icon {
	height: 50px;
}

.footer {
	padding-bottom: vars.$spacing-lg;
	&-logo {
		@include mixins.flexBox($fd: column, $ai: flex-start, $g: vars.$spacing-sm);
		padding-bottom: vars.$spacing-sm;
		@media (max-width: 575px) {
			align-items: flex-end;
			flex: 0 0 100%;
			max-width: 100%;
			margin-bottom: vars.$spacing-md;
		}
		&-text {
			@include mixins.flexBox($fd: column, $ai: flex-start, $g: vars.$spacing-md);
			@media (max-width: 575px) {
				align-items: flex-end;
			}
			.legal-link {
				position: relative;
				text-decoration: none;
				.hover-icon- {
					&swoosh {
						left: -15px;
						top: 0;
						background-position: bottom;
						@media (max-width: 575px) {
							display: none;
						}
					}
					&wave {
						width: 120%;
						@media (max-width: 575px) {
							display: none;
						}
					}
				}
			}
		}
	}
	&-links {
		@include mixins.flexBox($ai: flex-end, $jc: space-between);
		flex-wrap: wrap;
		a {
			text-decoration: none;
			&:not(.legal-link) {
				@include mixins.hoverDisplayWithChild(100%, 100%, 270deg, 0%, 0%, $type: 'hello-btn');
			}
		}
	}
}

.footer-legal {
	position: unset;
	* {
		color: #000;
	}
}