@use '../../../../vars.scss';

.svg-icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	&.logo {
		svg {
			width: 50px !important;
			height: 50px;
			object-fit: contain;
		}
		path {
			fill: vars.$highlight-secondary !important;
			transition: all .2s ease-in-out;
		}
		&:hover {
			path {
				fill: vars.$highlight-primary !important;
			}
		}
	}
}

:host(.header-logo) {
	path {
		fill: #fff !important;
	}
}

:host(.footer-logo) {
	&:not(.svg-icon) {
		height: 50px;
	}
}