@use './vars.scss';

// Animations
@mixin hoverDisplay($ogx, $ogy, $deg, $endx, $endy) {
	mask-position: $ogx $ogy;
	opacity: 0;
	mask-size: 200% 200%;
	transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	mask-image: linear-gradient(
		$deg,
		transparent 0%,
		transparent 50%,
		white 50%,
		white 100%
	);
	&:hover {
		mask-position: $endx $endy;
		opacity: 1;
	}
}
@mixin hoverDisplayWithChild($ogx, $ogy, $deg, $endx, $endy, $type) {
	@if $type == 'hello-btn' {
		span:last-of-type {
			mask-position: $ogx $ogy;
			opacity: 0;
			mask-size: 200% 200%;
			transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
			mask-image: linear-gradient(
				$deg,
				transparent 0%,
				transparent 50%,
				white 50%,
				white 100%
			);
		}
		&:hover {
			span:last-of-type {
				mask-position: $endx $endy;
				opacity: 1;
			}
		}
	}
}
@mixin heroLetterChange($ogcase, $endcase) {
	text-transform: $ogcase;
	&:hover {
		text-transform: $endcase;
		color: vars.$highlight-primary;
	}
}
@mixin socials() {
	padding: vars.$spacing-xs;
	border: 1px solid vars.$white;
	border-radius: vars.$radius-full;
	transition: all 0.2s ease;
	position: relative;
	overflow: hidden;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: vars.$radius-full;
		background: vars.$highlight-secondary;
		z-index: 0;
		opacity: 0;
		transition: all 0.2s ease;
		transform: translateY(100%);
	}
	&:hover {
		&::before {
			opacity: 1;
			transform: translateY(0%);
		}
	}
	&:last-of-type {
		padding: 7px vars.$spacing-xs;
	}
	img {
		z-index: 1;
	}
}
@mixin headline($ogx, $ogy, $deg, $posY, $posX, $posYType, $posXType, $ty, $circle) {
	position: relative;
	padding-bottom: 20px;
	&::before {
		content: '';
		position: absolute;
		@if ($posYType == 'bottom') {
			bottom: $posY;
		} @else {
			top: $posY;
		}
		@if ($posXType == 'left') {
			left: $posX;
		} @else {
			right: $posX;
		}
		width: 100%;
		height: 100%;
		z-index: 1;
		transform: translateY($ty);
		@include backgroundImageProperties($bp: left, $bs: contain);
		@if ($circle == 'yes') {
			animation: 4s infinite 3s circleReappear;
		} @else {
			animation: 4s infinite 3s lineReappear;
		}
		mask-position: $ogx $ogy;
		mask-size: 200% 200%;
		mask-image: linear-gradient(
			$deg,
			transparent 0%,
			transparent 50%,
			white 50%,
			white 100%
		);
	}
}
// Animations //

// Background //
@mixin backgroundImageProperties($bp: center, $br: no-repeat, $bs: cover) {
	background-position: $bp;
	background-repeat: $br;
	background-size: $bs;
}
@mixin headerButtonActive() {
	width: 32px;	
	height: 32px;	
	padding: 0;
	@include backgroundImageProperties($bp: center, $bs: contain);
	position: relative;
	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		height: 100%;
		z-index: 1;
		@include backgroundImageProperties($bp: center, $bs: contain);
		
		opacity: 0;
		transform: translate(-50%, -50%);
	}
	&:active {
		&::before {
			opacity: 1;
		}
	}
}
// Background //

// Border //
@mixin buttonBorder($bcolor, $color) {
	border: 1px solid $bcolor;
	color: $color;
	a {
		color: $color;
		text-decoration: none;
	}
}
// Border //

// Box shadow //
@mixin boxShadowButton($color) {
	box-shadow: 4px 4px $color;
	&:hover {
		box-shadow: unset;
		transform: translate(4px, 4px);
	}
}
// Box shadow //

// Button //
@mixin projectNavigation($justify: flex-start, $color) {
	@include flexBox($jc: $justify, $g: 10px);
	border: 0;
	background-color: transparent;
	font-weight: 600;
	&:hover {
		cursor: pointer;
		color: $color;
	}
	img {
		width: 25px;
		object-fit: contain;
	}
}
// Button //

// Flex //
@mixin flexBox($fd: row, $jc: center, $ai: center, $g: 0px) {
	display: flex;
	flex-direction: $fd;
	justify-content: $jc;
	align-items: $ai;
	gap: $g;
}
// Flex //

// Ripped Paper //
@mixin rippedPaper($ty, $deg, $z, $top) {
	@if ($ty != 0 and $deg != 0) {
		transform: translateY($ty) rotate($deg);
	}
	z-index: $z;
	.banner-inner {
		top: $top;
	}
}
// Ripped Paper //

// Keyframes //
@keyframes rolling {
	0% {
		transform: rotate(-180deg);
	}
	70% {
		transform: rotate(30deg);
	}
	90% {
		transform: rotate(-15deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
@keyframes rolling-back {
	0% {
		transform: translateX(0px) rotate(360deg);
	}
	100% {
		transform: translateX(-20px) rotate(0deg);
	}
}
@keyframes lineReappear {
	0% {
		mask-position: 100% 100%;
	}
	15% {
		mask-position: 0% 0%;
	}
	75% {
		mask-position: 0% 0%;
	}
	85% {
		mask-position: 100% 100%;
	}
	100% {
		mask-position: 100% 100%;
	}
}
@keyframes circleReappear {
	0% {
		mask-position: 0% 100%;
	}
	15% {
		mask-position: 100% 0%;
	}
	75% {
		mask-position: 100% 0%;
	}
	85% {
		mask-position: 0% 100%;
	}
	100% {
		mask-position: 0% 100%;
	}
}
@keyframes upAndDown {
	0% {
		transform: translateY(0) scale(1);
	}
	50% {
		transform: translateY(50px) scale(1);
	}
	100% {
		transform: translateY(0) scale(1);
	}
}
@keyframes hoverFeaturedProject {
	0% {
		transform: translateY(0) scale(1);
	}
	100% {
		transform: translateY(0) scale(1.1);
	}

}
// Keyframes //
