/* You can add global styles to this file, and also import other style files */
@use './vars.scss';
@use './mixins.scss';
@use './fontimport.scss';

// General //
* {
	box-sizing: border-box;
}
html {
	font-size: 18px;
	scrollbar-width: thin;
	scrollbar-color: vars.$highlight-secondary vars.$white;
}

/* Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: vars.$black;
}

::-webkit-scrollbar-thumb {
	background: vars.$highlight-secondary;
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background: vars.$highlight-primary;
}
body {
	margin: 0;
	scroll-behavior: smooth;
	* {
		font-family: 'Bricolage Grotesque', sans-serif;
		font-size: 1rem;
	}
}
body:has(.project-modal),
body:has(.success-modal) {
	overflow: hidden;
}
.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 16px;
}
section {
	padding: 8rem 0;
}
h1 {
	font-size: 7rem;
	margin: 20px 0;
	@media(max-width: 991px) {
		font-size: 6rem;
	}
	@media(max-width: 767px) {
		font-size: 5rem;
	}
	@media(max-width: 575px) {
		font-size: 14vw;
	}
}
h2 {
	font-size: 4rem;
	margin: 0;
	@media(max-width: 991px) {
		font-size: 3.2rem;
	}
	@media (max-width: 575px) {
		font-size: 2.7rem;
	}
}
h3 {
	font-size: 1.3rem;
	font-weight: 600;
	margin: 0;
}
h4 {
	margin: 0;
	font-weight: 600;
}
p {
	margin: 0;
}
.hide-mobile {
	@media (max-width: 767px) {
		display: none;
	}
}
.show-mobile {
	@media (min-width: 768px) {
		display: none;
	}
}
.hide-tablet {
	@media (max-width: 991px) {
		display: none;
	}
}
.show-tablet {
	@media (min-width: 992px) {
		display: none;
	}
}
// General //

// Buttons //
.main-btn {
	padding: 12px 18px;
	border-radius: vars.$radius-pill;
	width: fit-content;
	background: transparent;
	transition: all .2s ease;
	cursor: pointer;
}
.btn-shadow-white {
	@include mixins.boxShadowButton(vars.$white);
}
.btn-shadow-black {
	@include mixins.boxShadowButton(vars.$black);
}
// Buttons //

// Borders //
.border-white {
	@include mixins.buttonBorder(vars.$white, vars.$white);
}
.border-black {
	@include mixins.buttonBorder(vars.$black, vars.$black);
}
.no-border {
	@include mixins.buttonBorder(transparent, vars.$white);
}
// Borders //

// Backgrounds //
.hover--secondary {
	&:hover {
		background: vars.$highlight-secondary;
		a {
			color: vars.$white;
		}
	}
}
.hover--tertiary {
	&:hover {
		color: vars.$white;
		background: vars.$highlight-tertiary;
	}
}
// Backgrounds //

// Color //
.white {
	color: vars.$white;
}
// Color //

// Animations //
.hover-icon- {
	&circle,
	&line,
	&wave,
	&swoosh {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
	}
	&circle {
		background-image: url('../public/img/icons/hover-deco/circle.png');
		width: 130%;
		height: 200%;
		top: -11px;
		left: -12px;
		@include mixins.hoverDisplay(50%, 100%, 0deg, 50%, 0%);
	}
	&line {
		background-image: url('../public/img/icons/hover-deco/line.png');
		background-size: cover;
		bottom: -(vars.$spacing-sm);
		top: unset;
		width: 200%;
		height: 200%;
		left: -20px;
		@include mixins.hoverDisplay(100%, 100%, 270deg, 0%, 0%);
	}
	&wave {
		background-image: url('../public/img/icons/hover-deco/wave.png');
		background-size: cover;
		left: -20px;
		width: 150%;
		height: 200%;
		transform: translateY(-25%);
		@include mixins.hoverDisplay(100%, 100%, 270deg, 0%, 0%);
	}
	&swoosh {
		background-image: url('../public/img/icons/hover-deco/swoosh.png');
		background-size: cover;
		width: 120%;
		height: 200%;
		left: -5px;
		top: -(vars.$spacing-sm);
		@include mixins.hoverDisplay(100%, 100%, 270deg, 0%, 0%);
	}
}

.roll-animate {
	position: relative;
	.roll-icon {
		position: absolute;
		top: -40px;
		right: 0;
		opacity: 0;
		transition: all .5s ease;
		&.footer-roll {
			top: -30px;
			right: 30%;
		}
	}
	&:hover {
		.roll-icon {
			animation: rolling .7s ease-out;
			opacity: 1;
			&.footer-roll {
				right: 0%;
			}
		}
	}
	&:not(:hover) {
        .roll-icon {
            animation: rolling-back .7s ease-out forwards;
            opacity: 0;
        }
    }
}

// Animations //