/* You can add global styles to this file, and also import other style files */
@use './vars.scss';
@use './mixins.scss';
@use './fontimport.scss';

// General //
* {
	box-sizing: border-box;
}
html {
	font-size: 18px;
}
body {
	margin: 0;
	* {
		font-family: 'Bricolage Grotesque', sans-serif;
		font-size: 1rem;
	}
}
.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 20px;
}
// General //