/* You can add global styles to this file, and also import other style files */
@use './vars.scss';
@use './mixins.scss';
@use './fontimport.scss';

// General //
* {
	box-sizing: border-box;
}
html {
	font-size: 18px;
}
body {
	margin: 0;
	* {
		font-family: 'Bricolage Grotesque', sans-serif;
		font-size: 1rem;
	}
}
.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 20px;
}
section {
	padding: 8rem 0;
}
h1 {
	font-size: 7rem;
	margin: 20px 0;
	@media(max-width: 991px) {
		font-size: 6rem;
	}
	@media(max-width: 767px) {
		font-size: 5rem;
	}
	@media(max-width: 575px) {
		font-size: 14vw;
	}
}
h2 {
	font-size: 4rem;
	margin: 0;
	@media(max-width: 767px) {
		font-size: 3.2rem;
	}
	@media (max-width: 575px) {
		font-size: 2.5rem;
	}
}
p {
	margin: 0;
}
.hide-mobile {
	@media (max-width: 767px) {
		display: none;
	}
}
.show-mobile {
	@media (min-width: 768px) {
		display: none;
	}
}
// General //

// Buttons //
.main-btn {
	padding: 12px 18px;
	border-radius: vars.$radius-pill;
	width: fit-content;
	background: transparent;
	transition: all .3s ease;
	cursor: pointer;
}
.btn-shadow-white {
	@include mixins.boxShadowButton(vars.$white);
}
.btn-shadow-black {
	@include mixins.boxShadowButton(vars.$black);
}
// Buttons //

// Borders //
.border-white {
	@include mixins.buttonBorder(vars.$white, vars.$white);
}
.border-black {
	@include mixins.buttonBorder(vars.$black, vars.$black);
}
.no-border {
	@include mixins.buttonBorder(transparent, vars.$white);
}
// Borders //

// Backgrounds //
.hover--secondary {
	&:hover {
		background: vars.$highlight-secondary;
		a {
			color: vars.$white;
		}
	}
}
.hover--tertiary {
	&:hover {
		color: vars.$white;
		background: vars.$highlight-tertiary;
	}
}
// Backgrounds //

// Color //
.white {
	color: vars.$white;
}
// Color //

// Animations //
.roll-animate {
	position: relative;
	.roll-icon {
		position: absolute;
		top: -40px;
		right: 0;
		opacity: 0;
		transition: all .5s ease;
	}
	&:hover {
		.roll-icon {
			animation: rolling .7s ease-out;
			opacity: 1;
		}
	}
	&:not(:hover) {
        .roll-icon {
            animation: rolling-back .7s ease-out forwards;
            opacity: 0;
        }
    }
}

// Animations //