:root {
	// colors //
	--highlight-primary: #BAE011;
	--highlight-secondary: #7E4AE7;
	--highlight-tertiary: #E08C05;
	// colors //

	// Background Images //
	--hero: url('../public/img/hero/01_Hero.png');
	// Background Images //
}
